body {
	font-size: var(--fz-400);
	font-family: var(--ff-primary);
	font-weight: var(--fw-400);
	background-color: var(--clr-neutral-400);
}

main {
	display: grid;
	place-items: center;
	min-height: 100vh;
	padding-block: 6.4rem;
}

h1,
h2,
h3 {
	font-weight: var(--fw-700);
	color: var(--clr-neutral-700);
}
