$breakpoints: (
	small: 38em,
	medium: 50em,
	large: 62em,
);

$colors: (
	primary: (
		400: hsl(10 79% 65%),
	),
	accent: (
		400: hsl(186 34% 60%),
	),
	neutral: (
		100: hsl(0 0% 100%),
		200: hsl(33 100% 98%),
		400: hsl(27 66% 92%),
		600: hsl(28 10% 53%),
		700: hsl(25 47% 15%),
		900: hsl(0 0% 0%),
	),
);

$font-sizes: (
	small: (
		300: 1.4rem,
		400: 1.8rem,
		500: 2.2rem,
		600: 2.6rem,
		700: 3.2rem,
	),
	medium: (
		300: 1.6rem,
		500: 3.2rem,
		600: 3.2rem,
		700: 4.4rem,
	),
);

$font-weights: (
	400: 400,
	700: 700,
);

$border-radius: (
	200: 0.4rem,
	300: 0.8rem,
	400: 2rem,
);

$spacings: (
	em: (),
	rem: (),
);
