.expenses-chart {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-items: end; //to make amount label appear at the top of the bar
	gap: clamp(1rem, 7vw - 2rem, 1.8rem);

	&__item {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		font-size: var(--fz-300);
	}

	&__day-label {
		margin-top: 0.5em;
		color: var(--clr-neutral-600);

		& abbr {
			text-decoration: none;
		}
	}

	&__amount-label {
		--scale: 0;
		--opacity: 0;
		--y-translation: calc(-100% - 0.8rem);
		--x-translation: -50%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateY(var(--y-translation)) translateX(var(--x-translation)) scale(var(--scale));
		padding: 0.5em 0.5em;
		line-height: 1;
		color: var(--clr-neutral-200);
		background-color: var(--clr-neutral-700);
		border-radius: var(--borr-200);
		opacity: var(--opacity);
		transition: transform 0.35s ease;
	}

	&__bar {
		--bg-color: var(--clr-primary-400);

		width: 100%;
		min-height: 0.5rem; // even if the amount is 0, set the height to .5rem
		background-color: var(--bg-color);
		border-radius: var(--borr-200);
		cursor: pointer;
		animation: grow-up 1.25s ease-out;

		&:hover,
		&:focus-visible {
			opacity: 0.5;
		}
	}

	&__bar:is(:hover, :focus-visible) + &__amount-label {
		--scale: 1;
		--opacity: 1;
	}

	&__item[data-current] &__bar {
		--bg-color: var(--clr-accent-400);
	}
}
